/*
superman colors:
Red (Cape, "S" emblem, boots) – #DA291C
Blue (Suit) – #0047AB
Yellow (Emblem background, belt) – #FFCC00
*/

body{
    background-color: black;
    font-family: "Roboto", serif;
}
.flex-container {
    display: flex;
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}


a:link {
    color:#b8b0b0
}

a:hover {
    color: #FFCC00;
}


a:visited {
    color: #DA291C;
}

.aka {
    font-size: 1.3rem;
    color: #0047AB;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1em;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1em;
}

p {
    font-size: 1rem;
    line-height: 1.4em;
    font-family: "Roboto", serif;
 
}

img.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.hbline {
    height:2px;
    background-color: #FFCC00;
    margin-top: 10px;
    margin-bottom: 10px;
}


.whitehbline {
    height:2px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.vbline {
    width:2px;
    background-color: #FFCC00;
    margin-right: 10px;
    margin-left: 10px;
}


.sub {
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", serif;
}

.italics {
 font-style: italic;

}



  p.quotes {

    font-style: italic;
    color:floralwhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
  }

  

  .white {
    color: white;
  }


.flex-content {
display: flex;
flex: 3;
order: 2;
padding: 20px;
position: relative;

}

img.absolute {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
 
}

.padding-wrapper {
   padding: 10px;
}



.flex-aside {
    flex: 1;
    order: 1;
    background-color: #0047AB;
    padding: 20px;

  }


.flex2 {
    display: flex; 
    flex-direction: column;
    
   
      }

      div.contact {
        display: flex;
        
          }
  

img.svg {
    width: 25px;
    padding-right: 5px;
}

img.png {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}


/* RESPONSIVE FOR ANYTHING UNDER BETWEEN 601 AND 1000PX */

@media (min-width: 601px) and (max-width: 1000px) {


    .aka {
        font-size: 1.2rem;
    }
    
    h1 {
        font-size: 2rem;

    }
    
    img.profile {
        width: 100px;
        height: 100px;
    }
    
    .hbline {
        height:1px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    
    .whitehbline {
        height:1px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .vbline {
        width: 1px;
    }
    
    
    .sub {
        font-size: 1.2rem;
    }
    
    li {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
      p.quotes {

        font-size: 1.1rem;
      }
    
      
    
    .flex-content {
    flex: 3;
    padding: 20px;
    
    }
    
    img.absolute {
        width: 65px;
        top: 10px;
        right: 10px; 
    }
    
    .flex-aside {
        flex: 1;
        order: 1;    
      }
    
    .flex2 {
        display: flex; 
        
          }
    
          div.contact {
            display: flex;
            flex-direction: column;
            
              }
         
    img.svg {
        width: 25px;
        padding-right: 5px;
    }
    
    img.png {
        width: 100px;

    }   


h2.white {
    font-size: 1.3rem;
}

}
 


/* RESPONSIVE FOR ANYTHING UNDER 600PX */

@media (max-width: 600px) {

    
    
    h1 {
        font-size: 1.5rem;

    }

    h2.white {
        font-size: 1.2rem;
    }
    
    img.profile {
        width: 75px;
        height: 75px;
    }
    
    
    
    .whitehbline {
        height:1px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    .vbline {
        width: 1px;
    }
    
    
    .sub {
        font-size: 1.1rem;
    }

    
      p.quotes {

        font-size: 1rem;
      }

      .flex-container {
        display: flex;
        flex-direction: column;
  
    }
      
    
    .flex-content {
    order: 1;   
    }

    .flex-aside {
        order: 2;   
      }
    
    
    img.absolute {
        width: 50px;
        top: 10px;
        right: 10px; 
    }
    
    
          div.contact {
            display: flex;
            flex-direction: column;
            
              }
      
    
    img.svg {
        width: 25px;
        padding-right: 5px;
    }
    
    img.png {
        width: 100px;

    }

}
 
